@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
	font-family: 'Roboto', sans-serif;
	height: 100%;
	width: 100%;
	margin: 0;
	padding:0;
	background-color: rgb(3, 4, 9);
	color: white;
	overflow-x: hidden;
}
* {
	margin: 0;
	padding: 0;
}
.car {
	background-image: url("http://127.0.0.1:8000/static/car.gif");
	background-size: cover;
	background-position: center;
	height: 700px;
	width: 100%; /* Cover the full width of the screen */
}

@media screen and (max-width: 768px) {
	/* Adjust height and width for smaller screens */
	.car {
					height: 300px;
					width: 100%;
	}
}
.testimonial-card .card-up {
	height: 120px;
	overflow: hidden;
	border-top-left-radius: 0.25rem;
	border-top-right-radius: 0.25rem;
}
.testimonial-card .avatar {
	width: 110px;
	margin-top: -60px;
	overflow: hidden;
	border: 3px solid #fff;
	border-radius: 50%;
}