{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>Home</title>
 <link href="{% static 'css/output.css' %}" rel="stylesheet">
 <style>
  /* Make sure html and body elements have full height */
  html, body {
    height: 100%;
      width: 100%;
      margin: 0;
      padding: 0;
  } 
</style>
</head>

<body class="flex h-full">
  <div class="w-[20%] bg-slate-900 flex-shrink-0 fixed h-full">
   <div><img src="https://imgv3.fotor.com/images/blog-richtext-image/10-profile-picture-ideas-to-make-you-stand-out.jpg" alt="profile-pic" class="w-20px rounded-lg"></div>
   <div>Home</div>
   <div>Bookings</div>
   <div>Invoices</div>
   <div>Support</div>
   <div>Profile</div>
   <div><a href="{% url 'logout' %}">Logout</a></div>
  </div>
  <div class="w-[80%] bg-pink-500 flex-shrink-0 ml-[20%]">
    
  </div>
</body>
</html>